

body {
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}
.bunny {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    
}
.head {
    height: 500px;
    width: 500px;
    border-radius: 50% 50% 40% 40%; 
    border: solid black 7px;
    background-color: aliceblue;
    border-bottom: none;
}

.eyes {
    position: relative;
    left: 60px;
    top: 175px;

}

.right-eyes {
    width: 100px;
    height: 50px;
    border: solid black 10px;
    border-radius: 50% 50%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    
}
.left-eyes {
    width: 100px;
    height: 50px;
    border: solid black 10px;
    border-radius: 50% 50%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    position: relative;
    left: 240px;
    top: -60px;

}
.nose {
    height: 20px;
    width: 35px;
    background-color: brown;
    border: solid black 6px;
    border-radius: 30% 30% 30% 30%;
    position: relative;
    left : 200px;
    top: 120px;
}
.mouth-line1 {
    height: 30px;
    width: 0px;
    border-left: solid black 3px;
    position: relative;
    left: 221px;
    top: 120px;
}
.mouth-line2 {
    height: 50px;
    width: 70px;
    border-left: solid black 7px;
    position: relative;
    left: -64px;
    top: -12px;
    transform: rotate(280deg);
    border-radius: 30% 30% 30% 30%;
}
.mouth-line3 {
    height: 50px;
    width: 70px;
    border-left: solid black 7px;
    position: relative;
    left: -15px;
    top: -60px;
    transform: rotate(260deg);
    border-radius: 30% 30% 30% 30%;
}

.ear-left {
    position: relative;
    top: -600px;
    left: 430px;
    height: 500px;
    width: 200px;
    border: solid black 3px;
    border-radius: 60% 60% 20% 80%;
    background-color: aliceblue;
    z-index: -1;
    transform: rotate(-15deg);
}

.ear-left .ear {
    height: 330px;
    width: 100px;
    border: solid black 3px;
    border-radius: 60% 60% 20% 80%;
    transform: rotate(10deg);
    background-color: hotpink;
    position: relative;
}

.ear-right {
    position: relative;
    right: 120px;
    top: -80px;
        height: 500px;
        width: 200px;
        border: solid black 3px;
        border-radius: 60% 60% 20% 80%;
        background-color: aliceblue;
        z-index: -1;
transform: rotate(10deg) scaleX(-1);
}
.ear-right .ear {
    height: 330px;
    width: 100px;
    border: solid black 3px;
    border-radius: 60% 60% 20% 80%;
    transform: rotate(10deg);
    background-color: hotpink;
    position: relative; 
}