

body {
    background-color: aqua;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.bunny {
    
    position: relative;
    top: 40px;
    
}
.head {
    height: 500px;
    width: 500px;
    border-radius: 50% 50% 40% 40%; 
    border: solid black 7px;
    background-color: aliceblue;
    border-bottom: none;
}

.eyes {
    position: relative;
    left: 80px;
    top: 175px;

}

.right-eyes {
    width: 100px;
    height: 50px;
    border: solid black 10px;
    border-radius: 50% 50%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    
}
.left-eyes {
    width: 100px;
    height: 50px;
    border: solid black 10px;
    border-radius: 50% 50%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    position: relative;
    left: 240px;
    top: -60px;
}
.right-eyes .eyelight .line1 {
    height: 20px;
    border-right: solid black 3px;
    position: relative;
    left: -65px;
    top:-28px;
}
.right-eyes .eyelight .line2 {
    height: 25px;
    border-right: solid black 3px; 
    position: relative;
        left: -75px;
        top: -40px;
    transform: rotate(-10deg);
}

.left-eyes .eyelight .line1 {
    height: 20px;
    border-right: solid black 3px;
    position: relative;
    left: -15px;
    top: -30px;
    transform: rotate(10deg);
}

.left-eyes .eyelight .line2 {
    height: 25px;
    border-right: solid black 3px;
    position: relative;
    left: -25px;
    top: -40px;
    transform: rotate(-10deg);
}
.nose {
    height: 20px;
    width: 35px;
    background-color: brown;
    border: solid black 6px;
    border-radius: 30% 30% 30% 30%;
    position: relative;
    left : 220px;
    top: 120px;
}
.blush {
    display: flex;
}
.blush1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #FFCCD3;
    position: relative;
    left: 40px;
    top: 40px;
}
.blush2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #FFCCD3;
    position: relative;
        left: 240px;
        top: 40px;
}
.mouth-line1 {
    height: 30px;
    width: 0px;
    border-left: solid black 3px;
    position: relative;
    left: 241px;
    top: 120px;
}
.mouth-line2 {
    height: 50px;
    width: 70px;
    border-left: solid black 7px;
    position: relative;
    left: -64px;
    top: -12px;
    transform: rotate(280deg);
    border-radius: 30% 30% 30% 30%;
}
.mouth-line3 {
    height: 50px;
    width: 70px;
    border-left: solid black 7px;
    position: relative;
    left: -15px;
    top: -60px;
    transform: rotate(260deg);
    border-radius: 30% 30% 30% 30%;
}
.string {
    position: relative;
    right: 100px;
}
.string2 {
    transform: scaleX(-1);
    position: relative;
    left: 100px;
}
.blushline1{
    width: 200px;
    border-bottom: solid black 4px;
    transform: rotate(10deg);
    
}
.blushline2 {
    width: 200px;
    border-bottom: solid black 4px;
    padding-top: 30px;
}
.blushline3 {
    width: 200px;
    border-bottom: solid black 4px;
    padding-top: 30px;
    transform: rotate(-10deg);
}

.ear-left {
    position: relative;
    top: -600px;
    left: 430px;
    height: 500px;
    width: 200px;
    border: solid black 3px;
    border-radius: 60% 60% 20% 80%;
    background-color: aliceblue;
    z-index: -1;
    transform: rotate(-15deg);
}

.ear-left .ear {
    height: 330px;
    width: 100px;
    border: solid black 3px;
    border-radius: 60% 60% 20% 80%;
    transform: rotate(10deg);
    background-color: hotpink;
    position: relative;
}

.ear-right {
    position: relative;
    right: 120px;
    top: -80px;
        height: 500px;
        width: 200px;
        border: solid black 3px;
        border-radius: 60% 60% 20% 80%;
        background-color: aliceblue;
        z-index: -1;
transform: rotate(10deg) scaleX(-1);
}
.ear-right .ear {
    height: 330px;
    width: 100px;
    border: solid black 3px;
    border-radius: 60% 60% 20% 80%;
    transform: rotate(10deg);
    background-color: hotpink;
    position: relative; 
}
.body {
    height: 500px;
    width: 500px;
    background-color: aliceblue;
    position: relative;
    top: -50px;
    left: 5px;
    z-index: -1;
    border-radius: 70% 70% 50% 50%;
    border: solid black 3px;
}
.hands {
    display: flex;
    position: relative;
    top: 30px;
}
.hand-right {
    height: 120px;
    width: 130px;
    border: solid black 3px;
    background-color: aliceblue;
    border-radius: 0% 50% 50% 0%;
    border-left: none;
    position: relative;
    top: 100px;
    left: 100px;
}
.hand-left {
    height: 120px;
    width: 130px;
    border: solid black 3px;
    background-color: aliceblue;
    border-radius: 0% 50% 50% 0%;
    border-left: none;
    position: relative;
    top: 100px;
    left: 130px;
    transform: scaleX(-1);
}
